<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django CRUD</title>
    {% if request.user.is_authenticated %}
     <p>Seja bem vindo, {{request.user.username}} | <a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
      <p><a href="{% url 'register' %}">Register</a> | <a href="{% url 'login' %}"> Login</a> </p>
    {% endif %}
  </head>
  <body>
    <ul>
      {% for product in products %}
      <a href="{% url 'update_product' product.id %}">
      <li>{{product.description}}</li>
      </a>
      {% endfor %}
    </ul>

    <a href="{% url 'create_products' %}">New Product</a>
  </body>
</html>
